.header{
    text-align: center;
    font-size: 16px;
    font-style: oblique;
    color: bisque;
    padding: 5px;
    
}

.info{
    display: none;
    margin-top: 15px;
    font-size: 12px;
    font-style: oblique;
    color: bisque;
    padding: 5px;
   text-align: justify;
}

.hideBtn{
    display: none;
}

.gameInfo, .hideBtn{
    text-align: initial;
    width: 80px;
    height: 25px;
    border: 2px solid rgba(0, 128, 0, 0.681);
    border-radius: 5px;
    margin-left: 10px;
}

.start{
    margin: 10px;
}

.info:hover, .header:hover{
    background-color: black;
    transition: 2s;
    color: aqua;
}


#restart{
    /* display: none;
    flex-direction: column;
    flex-wrap: wrap; */
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 380px;
    border: 2px solid red;
    background-image: url(./asset/pokemon-wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: relative;
    border-radius: 10px;
    margin-top: 100px;
    margin-right: 100px;
   
}
#div1,#div2,#div3{
    text-align: center;
    font-style: oblique;
    color: bisque;  
}

.resetBtn, .start{
    border: 1px solid green;
    font-weight: bold;
    font-size: 28px;
    font-style: oblique;
    border-radius: 5px;
}

#letsStart{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 400px;
    height: 380px;
    border: 2px solid red;
    background-image: url(./asset/pokemon-wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: relative;
    border-radius: 10px;
    margin-top: 100px;
    margin-right: 100px;
}


.flex-box{
    display: none;
    justify-content: center;
    width: 400px;
    height: 380px;
    border: 2px solid red;
    background-image: url(./asset/pokemon-wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: relative;
    border-radius: 10px;
    flex-wrap: wrap;
 margin-top: 100px;
 margin-right: 100px;
 
}


.image{
    display: flex;
    border: 2px solid gold;
    border-radius: 10px;
    flex-direction: column-reverse;
    background-color: azure;
  }

.sectionBtn{
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 7%;
    
}

.display{
    width: 350px;
    height: 175px;
    margin-left: 15px;
}

.btnTotal{
    display: none;
}
.score{
    display: flex;
    flex-direction: row;
   
    /* margin-right: 50px; */
}
.reset{
    margin-right: 300px;
    border: 2px solid green;
    border-radius: 5px;
}


.total{
  padding-right: inherit;
  color: bisque;
  font-weight: 800;
  font-style: oblique;
}

.round{
    padding-right: inherit;
    color: bisque;
    font-weight: 800;
    font-style: oblique;
  }


.btnAnswer1, .btnAnswer2, .btnAnswer3{
    width: 85px;
    height: 25px;
 
} 
.btnAnswer1, .btnAnswer2, .btnAnswer3{
    border-radius: 5px;
}



.start:hover, .reset:hover, .gameInfo:hover, .hideBtn:hover{
    background-color: rgba(255, 0, 0, 0.354);
    transition: 1s;
    color: whitesmoke;
}


.resetBtn:hover{
    background-color: rgba(255, 0, 0, 0.354);
    transition: 1s;
    color:whitesmoke;
}

h4{
    border: 1px solid red;
    background-color: rgba(0, 0, 255, 0.37);
    color: bisque;
}



@media screen and (max-width: 350px ) {
    #letsStart{
    justify-content: center;
    width: 200px;
     height: 150px;
     margin: none;
    }

    #restart{
        justify-content: center;
        width: 200px;
         height: 150px;
         margin: none;
    }
    .flex-box{
        justify-content: center;
        width: 200px;
         height: 150px;
         margin: none;
    }
    .display{
        width: 150px;
        height: 100px;
    }

    .sectionBtn{
        width: 15px;
        height: 5px;
     
    } 
  }